.header-box-1{
    display: flex;
}

.title {
    font-size: 45px;
    margin-block-start: auto;
    margin-block-end: auto;
}

.information-box3 {
    display: flex;
}

.static{
    font-size: 13px;
    margin-right: 15px;
    width: 200px;
}

.information-music {
    margin-bottom: 10px;
}

.like-dislike-btn {
    display: flex;
}

.like-btn, .dislike-btn {
    display: flex;
    margin-right: 13px;
}

.svg-like-btn, .svg-dislike-btn {
    margin-right: 5px;
    cursor: pointer;
}

.like-text, .dislike-text {
    margin-block-start: auto;
    margin-block-end: auto;
}

.about {
    font-size: 14px;
}

.content-background{
    background:white;
    width: 100%;
    overflow-y: scroll;
}

.bar {
    display: none;
}

.go-back{
    margin: 10px;
}

.go-back svg{
    transform: scale(-1, 1);
}

.informations {
    margin: 50px;
}

.information-box{
    display: flex;
    flex-direction: column;
}

.information-box1{
    display: flex;
    margin-bottom: 50px;
    user-select: none;
}

.information-box2{
    display: flex;
    flex-direction: column;
    margin-block-start: auto;
    margin-block-end: auto;
}

.text-box-informations{
    display: flex;
}

.item-box{
    margin-block-start: auto;
    margin-block-end: auto;
    display: flex;
    flex-direction: column;
}

.ktmuzik-img{
    margin-right: 30px;
}

.p {
    font-size: 50px;
    margin-right: 15px;
}

.controls-panel-box{
    display: flex;
}

.time-box{
    font-size: 14px;
    display: flex;
}

.time {
    margin: auto 5px;
    margin-right: 10px;
}

.play-pause-btn{
    cursor: pointer;
}

.speed-box, .volume-box {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.volume-box{
    margin-left: 5px;
}

.speed-btn{
    cursor: pointer;
}

.speed-btn-animation {
    animation: rotate-icon .3s;
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.speed-panel-box, .volume-panel-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    font-family: Whitney;
    border-radius: 2px;
    font-size: 13px;
    border: 2px solid black;
    animation: appear .3s;
    user-select: none;
    overflow-y: scroll;
    height: 100px;
    margin-top: 25px;
}

.alert-panel-box, .speed-panel-alert-box{
    margin: 5px;
    padding: 10px 20px;
    background-color: #fff7b3;
    border: 1.5px solid #ffc300;
    border-radius: 5px;
    text-align: center;
    font-family: Whitney;
    font-size: 13px;
}

.black-screen-alpha{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    animation: opac 0.1s;
    overflow-y: scroll;
}

.embed-code-copy-box, .box-responsive, .volume-oncontextmenu-responsive-box{
    margin: 0 30px;
    display: flex;
    align-items: center;
    animation: opac .1s;
    z-index: 101;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
}

.box-responsive{
    display: flex;
    flex-direction: column;
}

.box-responsive-inside{
    display: flex;
    flex-direction: column;
}

.box-responsive-icon {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-right: 5px;
}

.box-responsive-btn{
    background-color: #323232;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    fill: white;
    transition: ease .2s;
    cursor: pointer;
}

.box-responsive-btn:hover{
    background-color: #ffc300;
    color: black;
    fill: black;
}

.box-responsive-btn-inside{
    display: flex;
    font-size: 14px;
}

.box-responsive-btn-margin{
    margin: 0 auto;
    display: flex;
}

.embed-code-inside{
    display: flex;
    flex-direction: column;
}

.embed-box-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.embed-title{
    text-align: center;
    font-size: 50px;
}

.embed-code-box{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.embed-copy-btn{
    border-radius: 15px;
    padding: 15px;
    color: white;
    background-color: #333333;
    font-family: Whitney;
    border: none;
    transition: ease .2s;
    width: 100%
}

.embed-copy-btn:hover{
    background-color: #ffc300;
    color: black;
}

.embed-copy-btn-clicked{
    border-radius: 15px;
    padding: 15px;
    color: white;
    background-color: #d3d3d3;
    font-family: Whitney;
    border: none;
}

.volume-oncontextmenu-responsive-box-inside{
    display: flex;
    flex-direction: column;
}

.close-icon-box-responsive{
    margin-bottom: 10px;
}

.icon-box-responsive{
    display: none;
}

.close-box-responsive{
    cursor: pointer;
    float: right;
}

.mute-btn{
    border-radius: 3px;
    border: 1px solid #0059ff;
    padding: 10px;
    text-align: left;
    width: 100%;
    color: #0059ff;
    font-weight: bold;
}

.mute-btn:hover{
    border: 1px solid #1500ff;
    color: #1500ff;
}

.speed-panel-alert-box{
    width: 100%;
}

.volume-panel-box{
    height: auto;
}

.speed-panel-box::-webkit-scrollbar {
    width: 1px;
}

.speed-panel-box::-webkit-scrollbar-thumb{
    background-color: black;
}

.speed-value, .volume-value {
    padding: 10px 20px;
}

.speed-value:hover{
    background-color: #d1d1d1;
}

.volume-value{
    padding-left: 10px;
    display: flex;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-12px);
    }
}

.volume-btn {
    cursor: pointer;
}

.volume-value > p{
    margin-right: 7px;
    margin-block-start: auto;
    margin-block-end: auto;
}

.volume-range{
    -webkit-appearance: none;
    width: 100%;
    margin-block-start: auto;
    margin-block-end: auto;
    background-color: rgb(214, 214, 214);
}

.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.volume-range::-moz-range-thumb {
    width: 14px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.volume_oncontextmenu_box{
    padding: 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fade .2s;
    position: relative;
    left: -20px;
    bottom: -20px;
}

@keyframes fade{
    from{
        opacity: 0
    } to {
        opacity: 1
    }
}

@keyframes fade-out{
    from{
        opacity: 1
    } to {
        opacity: 0
    }
}

.mute {
    color: white;
    font-size: 13px;
}

.mute > div{
    font-family: "Whitney";
    margin-right: 10px;
}

.volume_oncontextmenu_box:hover{
    background-color: rgba(0, 0, 0, 0.699);
}

.seekslider {
    -webkit-appearance: none;
    width: 100%;
    margin-block-start: auto;
    margin-block-end: auto;
    background-color: rgb(214, 214, 214);
}

.seekslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.seekslider::-moz-range-thumb {
    width: 14px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .speed-panel-alert-box-responsive{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        margin: 5px;
        padding: 10px 20px;
        background-color: #fff7b3;
        border: 1.5px solid #ffc300;
        border-radius: 5px;
        text-align: center;
        font-size: 13px;
    }
    .information-box1{
        flex-direction: column;
        align-items: center;
    }
    .ktmuzik-img{
        margin-bottom: 30px;
        margin-right: 0;
    }
    .information-box2{
        flex-direction: column;
        align-items: center;
    }
    .icon-box-responsive{
        display: block;
    }
    .embed-code-copy-box{
        display: none;
    }
    .embed-code-copy-box-responsive{
        display: block;
    }
    .box-responsive-fadein{
        animation: fade .2s;
    }
    .box-responsive-fadeout{
        animation: fade-out .2s;
    }
}
